body {
  background: #fff;  /* fallback for old browsers */
  margin: 45px 20px;
}
.tab-content {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.nav-tabs a {
  color: #fff;
}
.nav-tabs .active a {
  color: #000;
}
tbody tr {
  border-bottom: 2px solid #17a2b8!important;
}